---
import Base from '../layouts/Base.astro';
import '../styles/global.css';
---

<Base title="Reviews" description="Reviews">
	<div class="mt-16 mb-12 text-center">
		<p class="font-body text-(--ink)/90 font-light text-[1.35rem] italic">
			This part of the garden will be tended soon by the garderner.
		</p>
	</div>
</Base>
