---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const sortedPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<ol class="list-decimal space-y-2 pl-6 marker:text-(--ink-muted)">
    {sortedPosts.map((post) => (
        <li>
            <div class="flex flex-wrap items-baseline gap-2">
                <a
                    href={`/blog/${post.id}`}
                    class="text-[1.1rem] underline underline-offset-5"
                >
                    {post.data.title}
                </a>
                {post.data.tags && post.data.tags.map((tag) => (
                    <span class="tag">{tag}</span>
                ))}
            </div>
        </li>
    ))}
</ol>
