---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';

type Props = {
	title: string;
	description: string;
	mainClass?: string;
};

const {
	title,
	description,
	mainClass = ''
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class='grainy-bg flex flex-col bg-(--background) overscroll-none'>
		<ViewTransitions />
		<div class='grainy-panel relative mx-auto w-full max-w-3xl border-2 border-(--ink)/70 max-[770px]:border-0 my-6 px-8 py-4 min-h-[calc(100vh-3rem)]'>
			<Header />
			<main class:list={['grow', mainClass]}>
				<slot />
			</main>
		</div>
	</body>
</html>
